.contact {
  text-align: center;
  h2 {
    margin-bottom: 1.15rem;
  }
  p {
    color: #393939;
    margin-bottom: 0.2rem;
    a {
      color: #246fff;
      text-decoration: underline;
    }
  }
}
